@value colors: "../../colors.css";
@value primary, light, secondary_r, secondary_g, secondary_b, secondary, secondaryBackground from colors;

.NoMargin {
    margin: 0;
}

.NoMarginBottom {
    margin-bottom: 0;
}

.Collection_Nested {
    display: flex;
    flex-direction: column;
}

.Collection_Item_Content_Depth {
    font-weight: 600;
    margin-right: 10px;
}

.Collection_Item_Content_Instruction {
    flex: 1;
}

.Collection_Item_Content_Duration {
    justify-self: flex-end;
    margin-right: 10px;
}

.FlexStart {
    align-self: flex-start;
}

.Nested {
    margin: 1rem .75rem;
    background-color: rgba(secondary_r, secondary_g, secondary_b, 0.05);
}

.NestedFirst {
    margin: inherit;
    background-color: light;
}

@media only screen and (max-width: 768px) {
    .Nested {
        margin: .75rem 0;
    }
}
