@value colors: "../colors.css";
@value primary, primaryLighter, light, error from colors;

.Button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    background-color: primary !important;
    color: light !important;
}

.Button:hover {
    background-color: primaryLighter !important;
}

.Secondary {
    color: primary !important;
    background-color: light !important;
}

.Secondary:hover {
    background-color: light !important;
}

.Danger {
    color: light !important;
    background-color: error !important;
}

.Danger:hover {
    background-color: error !important;
}

.SpinnerContainer {
    display: flex;
    margin-left: 10px;
}
