@value colors: "../colors.css";
@value primary, primaryLighter, light from colors;

.Button {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    background-color: primary;
    color: light;
}

.Button:hover {
    background-color: primaryLighter;
}

.Secondary {
    color: primary;
    background-color: light;
}

.Secondary:hover {
    background-color: light;
}

.SpinnerContainer {
    display: flex;
    margin-left: 10px;
}
