@value colors: "../colors.css";
@value primary from colors;

.Heading {
    color: primary;
    font-family: 'Asul', sans-serif;
    font-size: 28px;
    line-height: 28px;
    text-transform: capitalize;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .Heading {
    }
}
