@value colors: "../colors.css";
@value secondary, dark from colors;

.Heading {
    color: secondary;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -3px;
    word-spacing: 3px;
    font-size: 28px;
    line-height: 32px;
    text-transform: capitalize;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .Heading {
    }
}
