@value colors: "../../colors.css";
@value primary, light, secondary_r, secondary_g, secondary_b, secondary, secondaryBackground from colors;

.Container {
    margin: 40px 0;
}

.Heading {
    color: primary;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 40px;
}

.SubHeading {
    color: secondary;
    font-size: 20px;
    text-transform: uppercase;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid secondary;
    margin-bottom: 20px;
}

.Collection {
    border-color: secondaryBackground;
}

.Collection_Item_Container {
    margin-top: .75rem !important;
    background-color: inherit !important;
    border-bottom: none !important;
}

.Collection_Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: secondaryBackground !important;
}

.Collection_Item_Content {
    display: flex;
    width: 100%;
}

.ButtonsContainer button {
    margin-right: 10px;
}

@media only screen and (max-width: 768px) {
    .Collection_Item_Container {
        padding: 0 !important;
    }

    .Collection_Item {
        padding: 0 .75rem;
    }
}
