@value colors: "./colors.css";
@value secondary, secondaryBackground from colors;

.Footer {
    background-color: white;
    padding-top: 0;
}

.Footer .Footer_Copyright {
    background-color: secondaryBackground;
    color: secondary;
}
