body {
    margin: 0;
}

body, button {
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

h1, h2, h3 {
    margin: inherit;
    font-weight: inherit;
}

nav, .btn, .btn:hover, .btn-floating, .btn-floating:hover {
    box-shadow: none;
    /* todo set darker hover styles like navbar */
}

.input-field input:focus + label {
    color: rgb(161, 136, 127) !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid rgb(161, 136, 127) !important;
    box-shadow: 0 1px 0 0 rgb(161, 136, 127) !important
}
