@value colors: "./colors.css";
@value primary, secondary, secondaryBackground from colors;

.Recipe {
    display: flex;
    border: 1px solid secondaryBackground;
    height: 255px;
    max-height: 255px;
    margin: 20px 0;
}

.RecipeImage {
    flex: 2;
}

.RecipeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RecipeDetailsContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.RecipeDetails {
    padding: 20px;
    flex: 1;
}

.RecipeDetailsNameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.RecipeDetailsNameContainer_Name {
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    display: -webkit-box;
    text-transform: capitalize;
}

.RecipeDetailsNameContainer_Controls {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    height: 28px;
    align-items: center;
}

.RecipeDetailsNameContainer_Controls_Item {
    margin-left: 5px;
}

.RecipeDetailsDescription {
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.RecipeDetailsInfo {
    display: flex;
    flex-direction: row;
}

.RecipeDetailsInfoItem {
    flex: 1;
}

.RecipeDetailsInfoItemValue {
    color: primary;
    font-weight: 600;
}

.RecipeDetailsInfoItemLabel {
    color: secondary;
}

.RecipeDetailsLink {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 20px;
    color: secondary;
    background-color: secondaryBackground;
}

@media only screen and (max-width: 768px) {
    .Recipe {
        flex-direction: column;
        margin: 20px 0;
        height: 235px;
        max-height: 235px;
    }

    .RecipeImage {
        flex: 1;
    }

    .RecipeImage img {
        height: 75px;
    }

    .RecipeDetailsNameContainer {
        margin-bottom: 15px;
    }

    .RecipeDetailsNameContainer_Name {
        -webkit-line-clamp: 1;
    }

    .RecipeDetailsContainer {
        flex: 1;
    }

    .RecipeDetails {
        padding: 0 20px 5px 20px;
    }

    .RecipeDetailsDescription {
        display: none;
    }

    .RecipeDetailsInfoItemValue {
        font-weight: 400;
    }

    .RecipeDetailsLink {
        font-size: 14px;
        margin-top: 5px;
    }
}
