@value colors: "./colors.css";
@value primary, dark, secondary, secondaryBackground, secondaryBackgroundHover, secondaryBackgroundActive from colors;

.Recipe {
  display: inline-flex;
  border: 1px solid secondaryBackground;
  height: 256px;
  max-height: 256px;
}

.RecipeImage {
  flex: 2;
}

.RecipeImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RecipeDetailsContainer {
  display: flex;
  flex: 5;
  flex-direction: column;
}

.RecipeDetails {
  padding: 20px;
  flex: 1;
}

.RecipeDetailsNameContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 20px;
}

.RecipeDetailsNameContainer_Name {
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  text-transform: capitalize;
}

.RecipeDetailsNameContainer_Controls {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  height: 28px;
  align-items: center;
}

.RecipeDetailsNameContainer_Controls_Item {
  margin-left: 5px;
}

.RecipeDetailsDescription {
  margin-bottom: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.RecipeDetailsInfo {
  display: flex;
  flex-direction: row;
}

.RecipeDetailsInfoItem {
  flex: 1;
}

.RecipeDetailsInfoItemValue {
  color: dark;
}

.RecipeDetailsInfoItemLabel {
  color: secondary;
}

.RecipeDetailsLink {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 20px;
  color: secondary;
  background-color: secondaryBackground;
  transition: background-color 0.3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RecipeDetailsLink:hover {
  background-color: secondaryBackgroundHover;
}

.RecipeDetailsLink:active {
  background-color: secondaryBackgroundActive;
}

/*@media only screen and (max-width: 768px) {*/
  .Recipe {
    flex-direction: column;
    height: 305px;
    max-height: 305px;
  }

  .RecipeImage {
    flex: 1;
  }

  .RecipeImage img {
    height: 140px;
  }

  .RecipeDetailsNameContainer {
    margin-bottom: 10px;
  }

  .RecipeDetailsNameContainer_Name {
    -webkit-line-clamp: 1;
  }

  .RecipeDetailsNameContainer_Name h1 {
    font-size: 24px;
  }

  .RecipeDetailsContainer {
    flex: 1;
  }

  .RecipeDetails {
    text-align: center;
    padding: 0 15px 5px 15px;
  }

  .RecipeDetailsDescription {
    display: none;
  }

  .RecipeDetailsInfoItemValue {
    font-weight: 400;
  }

  .RecipeDetailsLink {
    font-size: 14px;
    justify-content: center;
  }
/*}*/
