.Recipes {
    margin: 40px 0;
}

.Recipe {
    display: flex;
    border: 1px solid lightgrey;
    height: 340px;
    max-height: 340px;
    margin: 20px 0;
}

.RecipeImage {
    flex: 2 0;
}

.RecipeImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.RecipeDetailsContainer {
    display: flex;
    flex: 5;
    flex-direction: column;
}

.RecipeDetails {
    padding: 20px;
    flex: 1;
}

.RecipeDetailsName {
    font-size: 30px;
    line-height: 34px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.RecipeDetailsDescription {
    margin-bottom: 20px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.RecipeDetailsInfo {
    display: flex;
    flex-direction: row;
}

.RecipeDetailsInfoItem {
    flex: 1;
}

.RecipeDetailsInfoItemValue {
    font-weight: 600;
}

.RecipeDetailsInfoItemLabel {
    color: rgba(0, 0, 0, .5);
}

.RecipeDetailsLink {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px;
    color: rgba(0, 0, 0, .5);
    background-color: rgba(121, 85, 72, .1)
}

@media only screen and (max-width: 768px) {
    .Recipes {
        margin: 40px 0;
    }

    .Recipe {
        flex-direction: column;
        height: 282px;
        max-height: 282px;
        margin: 20px 0;
    }

    .RecipeImage {
        flex: 1;
    }

    .RecipeImage img {
        height: 100px;
    }

    .RecipeDetailsName {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0;
        text-transform: uppercase;
        margin-bottom: 15px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .RecipeDetailsContainer {
        flex: 1;
    }

    .RecipeDetails {
        padding: 10px 20px;
    }

    .RecipeDetailsDescription {
        display: none;
    }
}
