@value colors: "./colors.css";
@value primary, secondary, secondary_r, secondary_g, secondary_b, secondaryBackground, dark, placeholder from colors;

.Container {
  margin: 40px 0;
}

.FadeIn {
  animation: fadeIn ease 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Placeholder {
  animation: fadeIn linear 0.5s, flickerAnimation linear 1s infinite 0.5s;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.Placeholder .RecipeHeader_Info_NameContainer,
.Placeholder .RecipeHeader_Image,
.Placeholder .Recipe_Heading,
.Placeholder .RecipeHeader_Info_Description,
.Placeholder .RecipeDetails,
.Placeholder .RecipeBody_Requirements,
.Placeholder .RecipeBody_Method {
  border: none !important;
  color: transparent !important;
  background-color: placeholder !important;
}

.Placeholder img,
.Placeholder label {
  visibility: hidden;
}

.Placeholder .RecipeHeader_Info_NameContainer *,
.Placeholder .RecipeHeader_Image *,
.Placeholder .Recipe_Heading *,
.Placeholder .RecipeHeader_Info_Description *,
.Placeholder .RecipeDetails *,
.Placeholder .RecipeBody_Requirements *,
.Placeholder .RecipeBody_Method * {
  border: none !important;
  color: transparent !important;
  background-color: transparent !important;
}

.RecipeHeader {
  display: flex;
}

.RecipeHeader_Image {
  flex: 2;
}

.RecipeHeader_Image img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-height: 250px;
  max-height: 500px;
  object-fit: cover;
}

.RecipeHeader_Info {
  flex: 3;
  padding-left: 40px;
}

.RecipeHeader_Info_NameContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 40px;
}

.RecipeHeader_Info_NameContainer_Name {
  flex: 1;
}

.RecipeHeader_Info_NameContainer_Controls {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  height: 28px;
  align-items: center;
}

.RecipeDetailsNameContainer_Controls_Item {
  margin-left: 5px;
}

.Recipe_Heading {
  margin-bottom: 20px;
}

.RecipeHeader_Info_Description {
}

.RecipeDetails {
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  border-top: 1px solid rgba(secondary_r, secondary_g, secondary_b, 0.25);
  border-bottom: 1px solid rgba(secondary_r, secondary_g, secondary_b, 0.25);
  padding: 10px 0;
}

.RecipeDetails_InfoItem {
  flex: 1;
}

.RecipeDetails_InfoItem_Value {
  color: dark;
}

.RecipeDetails_InfoItem_Label {
  color: secondary;
}

.RecipeBody {
  display: flex;
}

.RecipeBody_Requirements {
  flex: 2;
  padding: 20px;
  background-color: secondaryBackground;
}

.RecipeBody_Requirements ul {
  list-style: square;
}

.RecipeBody_Requirements_Equipment {
  margin-bottom: 40px;
}

.RecipeBody_Requirements_Equipment_Body {
}

.RecipeBody_Requirements_Ingredients {
}

.RecipeBody_Requirements_Ingredients_Body {
}

.RecipeBody_Method {
  flex: 3;
  padding-top: 20px;
  margin-left: 20px;
}

.RecipeBody_Method_Body {
}

@media only screen and (max-width: 768px) {
  .RecipeHeader {
    flex-direction: column;
  }

  .RecipeHeader_Image {
    margin-bottom: 20px;
  }

  .RecipeHeader_Image img {
  }

  .RecipeHeader_Info {
    padding: 0;
  }

  .RecipeHeader_Info_NameContainer {
    margin-bottom: 40px;
  }

  .RecipeDetails {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px 0;
  }

  .RecipeBody {
    flex-direction: column;
  }

  .RecipeBody_Requirements {
    background-color: inherit;
    padding: 0;
    margin-bottom: 20px;
  }

  .RecipeBody_Requirements_Ingredients {
    margin-bottom: 20px;
  }

  .RecipeBody_Method {
    padding: 0;
    margin: 0;
  }

  .RecipeDetails_InfoItem_Value {
    font-weight: 400;
  }
}
